* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(228, 228, 228);
}
.navbar {
    background-color: rgb(132, 156, 126);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: "Arial";
    white-space: nowrap;
    overflow: hidden;

}

.logo img {
    height: 40px;
    align-items: center; 
}

.nav-list .list-item a:hover {
    color: rgb(30, 107, 23);
}
.nav-list {
    list-style-type: none;
    
}

.nav-list .list-item a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;

}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .container img {
      height: 500px;
      width: auto;
      object-fit: cover;
  }


  /* Centered text */
  .bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    font-family: calibri;
    text-shadow: 10px 5px 5px black;
  }
  
  .advertisements {
    justify-items: center;
    width: 100%;
    margin-top: 80px;
    display: grid;
    grid-gap: 4em;
    grid-template-areas: 
    "product1"
    "product2";
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
  .advertisement1 {
      padding: 5px;
      width: 100%;
      border: 2px solid rgb(80, 119, 87);
  }
  .advertisement1 img{
      float: left;
      width: 50%;
      padding: 15px;
      shape-outside:square(50%);
  }

  .advertisement1 h2 {
      padding-top: 10vh;
    padding-left: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .advertisement2 {
      width: 100%;
      border: 2px solid rgb(80, 119, 87);
}
  .advertisement2 img{
    float: left;
    width: 50%;
    padding: 15px;
    shape-outside:square(50%);
}
.advertisement2 h2 {
    padding-top: 10vh;
    padding-left: 3vh;
    font-family: Arial, Helvetica, sans-serif;
  }


/* Container holding the image and the text */
.emailContainer {
    position: relative;
    text-align: center;
    color: white;
  }

.emailPrompt {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    font-family: calibri;
    text-shadow: 10px 5px 5px black;
}

  .emailContainer img {
      height: 300px;
      width: auto;
      object-fit: cover;
  }


  /* Centered text */
  .bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    font-family: calibri;
    text-shadow: 10px 5px 5px black;
  }
  

  .emailContainer input {
      text-align: center;
    display: block;
    margin: 10px 10% 0 10%;
    transform: translate(0%, -320%);
    top: 50%;
    right: 50%;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
  }


.socialMediaLinks {
    margin-left: 50%;
    margin-top: 5vh;
}

  .socialMediaLinks img{
      padding: 10px;
      width: 5vh;
  }




